<style>
  .background-image {
    background-image: url("https://www.creative-tim.com/learning-lab/tailwind-starter-kit/img/register_bg_2.png");
    background-size: cover;
    background-position: center;
    background-color: rgb(5, 22, 43);
  }

  /* Overlay for the message box */
  #messageOverlay {
    position: fixed;
    inset: 0;
    background: rgba(
      0,
      0,
      0,
      0.4
    ); /* Slightly darker backdrop for more focus */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's well above other content */
  }

  .hidden {
    display: none !important; /* Ensures override */
  }

  /* General styling for messageBox */
  #messageBox {
    min-width: 300px; /* Minimum width */
    padding: 20px;
    background: #ffffff; /* Crisp white background */
    border-radius: 10px; /* Modern rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for 3D effect */
    text-align: center;
    font-size: 16px; /* Adequate font size for readability */
    color: #333; /* Dark grey text for contrast */
    transition: all 0.3s ease; /* Smooth transition for opacity */
  }

  /* Success and error message styling */
  .text-success {
    border: 1px solid #4caf50; /* Green border */
    color: #4caf50; /* Green text */
  }

  .text-error {
    border: 1px solid #f44336; /* Red border */
    color: #f44336; /* Red text */
  }
  #page-loader {
    position: fixed;
    inset: 0;
    background-color: rgba(
      255,
      255,
      255,
      0.8
    ); /* White background with slight transparency */
    display: none; /* Hidden by default */
    align-items: center;
    justify-content: center;
    z-index: 1050; /* Make sure it's above other content */
  }

  .loader {
    border: 4px solid #f3f3f3; /* Light grey border */
    border-top: 4px solid #3498db; /* Blue border top */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
</style>

<section class="px-5 pt-10 background-image">
  <div
    id="page-loader"
    class="fixed inset-0 bg-white flex justify-center items-center z-50"
    style="display: none"
  >
    <div class="loader"></div>
  </div>
  <div
    class="items-start mt-10 justify-center flex"
    style="min-height: calc(100vh - 4rem)"
  >
    <div class="bg-white p-6 sm:p-8 rounded-lg shadow-lg w-full max-w-md">
      <h2 class="text-xl sm:text-2xl font-bold mb-6 text-gray-800 text-center">
        Registration for Teens Meet <br />
        2024
      </h2>

      <div id="messageOverlay" class="hidden">
        <div
          id="messageBox"
          class="text-center p-4 mb-4 text-sm font-medium rounded"
        ></div>
      </div>

      <form
        action="/delegates"
        method="POST"
        enctype="multipart/form-data"
        class="max-w-md mx-auto"
      >
        <div class="grid md:grid-cols-2 md:gap-6">
          <!-- Full Name -->
          <div class="relative z-0 w-full mb-5 group">
            <input
              type="text"
              name="full_name"
              id="floating_full_name"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
              placeholder=" "
              required
              autocomplete="off"
            />
            <label
              for="floating_full_name"
              class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              >Full Name<span class="text-red-500">*</span></label
            >
          </div>

          <!-- Mobile -->
          <div class="relative z-0 w-full mb-5 group">
            <input
              type="tel"
              name="mobile"
              id="floating_mobile"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
              placeholder=" "
              autocomplete="off"
            />
            <label
              for="floating_mobile"
              class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              >Mobile</label
            >
          </div>
        </div>

        <div class="grid md:grid-cols-2 md:gap-6">
          <!-- Parent's Name -->
          <div class="relative z-0 w-full mb-5 group">
            <input
              type="text"
              name="parent_name"
              id="floating_parent_name"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
              placeholder=" "
              required
              autocomplete="off"
            />
            <label
              for="floating_parent_name"
              class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              >Parent's Name<span class="text-red-500">*</span></label
            >
          </div>

          <!-- Parent's Mobile -->
          <div class="relative z-0 w-full mb-5 group">
            <input
              type="tel"
              name="parent_mobile"
              id="floating_parent_mobile"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
              placeholder=" "
              required
              autocomplete="off"
            />
            <label
              for="floating_parent_mobile"
              class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              >Parent's Mobile<span class="text-red-500">*</span></label
            >
          </div>
        </div>

        <!-- Class & Age -->

        <div class="grid md:grid-cols-2 md:gap-6">
          <div class="relative z-0 w-full mb-5 group">
            <input
              type="text"
              name="class"
              id="floating_class"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
              placeholder=" "
              required
              autocomplete="off"
            />
            <label
              for="floating_class"
              class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              >Class<span class="text-red-500">*</span></label
            >
          </div>
          <div class="relative z-0 w-full mb-5 group">
            <input
              type="text"
              name="age"
              id="floating_age"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
              placeholder=" "
              autocomplete="off"
            />
            <label
              for="floating_age"
              class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              >Age</label
            >
          </div>
        </div>

        <!-- PLACE -->
        <div class="relative z-0 w-full mb-5 group">
          <input
            type="text"
            name="place"
            id="floating_place"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
            placeholder=" "
            required
            autocomplete="off"
          />
          <label
            for="floating_place"
            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >Place<span class="text-red-500">*</span></label
          >
        </div>

        <!-- Email -->
        <div class="relative z-0 w-full mb-5 group">
          <input
            type="email"
            name="email"
            id="floating_email"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
            placeholder=" "
            autocomplete="off"
          />
          <label
            for="floating_email"
            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >Email</label
          >
        </div>

        <button
          type="submit"
          class="text-white bg-blue-800 hover:bg-blue-900 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Submit
        </button>
      </form>
      <div class="text-black pt-5">
        <p class="text-sm font-light">
          Powered by
          <a href="https://adhilakbar.in"
            ><span class="font-bold">Innovation Edge</span></a
          >
        </p>
      </div>
    </div>
  </div>
</section>

<script>
  document.querySelector("form").addEventListener("submit", function (event) {
    event.preventDefault();
    const formData = new FormData(this);

    // Display the loader
    document.getElementById("page-loader").style.display = "flex";

    fetch("/delegates", {
      method: "POST",
      body: formData,
    })
      .then((response) => {
        if (!response.ok) {
          throw new Error(
            "Network response was not ok: " + response.statusText
          );
        }
        return response.json();
      })
      .then((data) => {
        // Hide the loader before showing message
        document.getElementById("page-loader").style.display = "none";

        if (data.error) {
          showMessage(data.error, "error");
        } else {
          showMessage(data.message, "success");
        }
      })
      .catch((error) => {
        // Hide the loader if there is an error
        document.getElementById("page-loader").style.display = "none";
        console.error("Fetch error:", error);
        showMessage("Failed to submit form: " + error.message, "error");
      });
  });

  function showMessage(message, type) {
    const messageOverlay = document.getElementById("messageOverlay");
    const messageBox = document.getElementById("messageBox");
    messageBox.textContent = message;
    messageBox.className = `text-center p-4 mb-4 text-sm font-medium rounded ${
      type === "error" ? "text-error" : "text-success"
    }`;
    messageOverlay.classList.remove("hidden");

    setTimeout(() => {
      messageOverlay.classList.add("hidden");
      if (type === "success") {
        // Set session variable indicating success
        fetch("/setSuccessSession")
          .then((response) => response.json())
          .then((data) => {
            console.log("Session variable set:", data);
            if (data.success) {
              console.log("Redirecting to response page...");
              window.location.href = "/response"; // Redirect only on success
            } else {
              console.log("Redirecting to home page...");
              window.location.href = "/";
            }
          })
          .catch((error) => {
            console.error("Failed to set session:", error);
            console.log("Redirecting to home page...");
            window.location.href = "/";
          });
      } else {
        console.log("Redirecting to home page...");
        window.location.href = "/";
      }
    }, 1500);
  }
</script>
